*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}
#main {
    width: 100%;
    height: 100%;
}
#top {
    width: 100%;
    height: 60%;
    background-image: url(https://plus.unsplash.com/premium_photo-1681426592021-25ccd822c96a?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 50% 18%;
}
#operlay{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.187);
}
#text {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20%;
    width: 100%;
    color: white;
    padding: 0 10vw;
}
#textright {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#textright p{
    font-size: 12px;
    width: 40%;
}

#textright i{
    color: #ffff;
}
#text h2 {
    font-weight: 400;
    font-size: 5vw;
}
#bottom {
    display: flex;
    width: 100%;
    height: 40%;
    background-color: cyan;
}
#tone {
    padding: 30px;
    width: 25%;
    height: 100%;
    background-color: white;
}
#tone p{
    font-size: 12px;
    margin-top: 20px;
}

#ttwo {
    width: 25%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1488905373347-189b5464fd44?q=80&w=1924&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 50% 70%;
}

#tthree {
    width: 20%;
    height: 100%;
    background-color: yellow;
}
#tthreetop {
    width: 100%;
    height: 50%;
    padding: 20px;
    color: #ffff;
    background-color:crimson;
}
#tthreetop p{
    margin-top: 10px;
   font-size: 10px;

}
#tthreebottom {
    width: 100%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1495837174058-628aafc7d610?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}
#tfour {
    width: 30%;
    height: 100%;
    background-color: grey;
    color: #ffff;
}
.not {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.not #photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3flIHsvZtK3eU7tEnp-LSEjNznTZCn0dkcA&s);
    background-size: cover;
}
.not p{
    width: 86%;
    font-size: 12px;
}
::selection {
    color: white;
    background: CRIMSON;
}